<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<th:block th:replace="fragment::top"></th:block> -->
<head>
  <!--  <div th:replace="fragment :: top"></div> -->
    <title>Enter your birthdate</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>


<!--<div th:replace="fragment :: navbar"></div> -->
<!--<div th:replace="fragment :: navlinks"></div> -->

<div class="body-content">
    <div class="col-sm">
        <h1>Enter a Date</h1>
        <form class="form" action="#" th:action="@{/getuserdate}"  method="post">
           <!-- <input type="hidden" th:field="*{id}">  -->

            <label>Enter Date of Birth</label>

            <input type="text" placeholder="d-mmm-yyyy" id="userdate" name="userdate"/>
         <!--   <span th:if="${#fields.hasErrors('userDate')}" th:errors="*{userDate}"></span> -->

        <!--    <input type="text" placeholder="Date" class="form-control" th:field="*{userDate}"> -->

            <button type="submit" class="btn btn-default">Save</button>


        </form>
    </div>
</div>

<section>
    <span th:replace="fragment::bootstrap4js"></span>
</section>
</body>
</html>
