<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:replace="fragment::top"></th:block>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragment :: top"></div>
    <link rel="stylesheet" href="./css/styles.css"/>
</head>
<div th:replace="fragment :: navlinks"></div>
<h1>Show history transactions by User</h1>
<table class="table" >
    <tr>
        <th>Date of Birth</th>
        <th>Female Name</th>
        <th>Male Name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td data-th="Date of Birth" th:text="${user.userDate}"></td>
        <td data-th="Female Name" th:text="${user.femaleName}"></td>
        <td data-th="Male Name" th:text="${user.maleName}"></td>

    </tr>
</table>
<section>
    <span th:replace="fragment::bootstrap4js"></span>
</section>
</body>
</html>